<div class="top-menu">
    <div class="container">
        <div class="pull-left">
            <img style="margin-top: 15px;" alt="Logo der Günter Kühnlein GmbH" src="typo3conf/ext/kuehnleintemplate/Resources/Public/Images/logo.png" width="220">
        </div>
        <nav>
            <span class="hidden-xs hidden-sm"><i class="fa fa-fw fa-comments"></i> Beratung: </span><a href="mailto:{settings.clientEmail}">{settings.clientEmail}</a>
            <span class="hidden-xs hidden-sm"><i class="fa fa-fw fa-phone"></i> Telefon: </span><a href="tel:{settings.clientPhone}">{settings.sexyClientPhone}</a>
        </nav>
    </div>
</div>
<div class="main-menu">
    <f:cObject typoscriptObjectPath="nav" />
</div>