<f:layout name="Default" />

<f:comment>
    Dieses Template wird verwendet, wenn kein Backend-Layout ausgewählt ist.
</f:comment>

<f:section name="Main">
    <div class="two-column">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="maincontent">
                    <f:cObject typoscriptObjectPath="mainContent" />
                </div>
            </div>
            <div class="col-md-4">
                <aside>
                    <f:cObject typoscriptObjectPath="subnav" />

                    <ul class="list-group">
                        <li class="list-group-item active"><i class="fa fa-download"></i> Downloads</li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    </div>
</f:section>
